server:
  port: 8081
  tomcat.threads.max: 100
spring:
  application:
    name: mod-data-export-worker
  jpa:
    open-in-view: false
  jackson:
    default-property-inclusion: non_empty
    deserialization:
      fail-on-unknown-properties: false
  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost}:${KAFKA_PORT:9092}
    listener:
      ack-mode: manual
    consumer:
      auto-offset-reset: latest
      enable-auto-commit: false
      properties.max.poll.interval.ms: ${KAFKA_CONSUMER_POLL_INTERVAL:3600000}
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
      schema: classpath:db/hsql/schema-hsqldb.sql
  liquibase:
    changeLog: classpath:db/changelog/data-export-worker-changelog-master.xml
    enabled: true
  servlet:
    multipart:
      max-file-size: 15MB
management:
  endpoints:
    web:
      base-path: /admin
      exposure:
        include: health
  metrics:
    export:
      influx:
        enabled: false
feign:
  client:
    config:
      default:
        loggerLevel: basic
application:
  kafka:
    topic-configuration:
      "data-export.job.update":
        partitions: ${DATA_EXPORT_JOB_UPDATE_TOPIC_PARTITIONS:50}
      "edi-export-history.create":
        partitions: ${EDI_EXPORT_HISTORY_TOPIC_PARTITIONS:1}
    topic-pattern: ${ENV:folio}.(.*\.)?data-export.job.command
    group-id: ${ENV:folio}-mod-data-export-worker-events-group
  datasource:
    driver: org.hsqldb.jdbcDriver
    jdbc-url: jdbc:hsqldb:mem:testdb;sql.enforce_strict_size=true;hsqldb.tx=mvcc;sql.syntax_pgs=true
    username: sa
    password:
    max-pool-size: 20
  minio:
    endpoint: ${AWS_URL:http://127.0.0.1:9000/}
    region: ${AWS_REGION:}
    bucket: ${AWS_BUCKET:}
    accessKey: ${AWS_ACCESS_KEY_ID:}
    secretKey: ${AWS_SECRET_ACCESS_KEY:}
  ftp:
    bufferSize: 1048576 #that 1024 * 1024
    defaultPort: 21
    workingDir: /files
    defaultTimeout: 30000
    controlKeepAliveTimeout: 30
  bucket:
    size: ${BUCKET_SIZE:50}
folio:
  tenant:
    validation:
      enabled: true
logging:
  level:
    org.folio.dew.client.*: debug
