openapi: 3.0.0
info:
  title: Fees and fines for bursar export schemas
  version: v1
servers:
  - url: https://stub.com/
paths:
  /stub:
    get:
      responses:
        "200":
          description: stub
components:
  schemas:
    userdataCollection:
      $ref: 'schemas/user/userCollection.json#/UserCollection'
    accountdataCollection:
      $ref: 'schemas/feesfines/accountdataCollection.json#/AccountdataCollection'
    feefineactionCollection:
      $ref: 'schemas/feesfines/feefineactionCollection.json#/FeefineactionCollection'
    transferdataCollection:
      $ref: 'schemas/feesfines/transferdataCollection.json#/TransferdataCollection'
    servicepoints:
      $ref: 'schemas/feesfines/servicepoints.json#/ServicePoints'
    bursarFeeFines:
      $ref: 'schemas/bursarFeeFines.json#/BursarFeeFines'
    bursarFeeFinesTypeMapping:
      $ref: 'schemas/bursarFeeFinesTypeMapping.json#/BursarFeeFinesTypeMapping'
    edi:
      $ref: 'schemas/acquisitions/edi.json#/Edi'
    ediConfig:
      $ref: 'schemas/acquisitions/ediConfig.json#/EdiConfig'
    ediEmail:
      $ref: 'schemas/acquisitions/ediEmail.json#/EdiEmail'
    ediFtp:
      $ref: 'schemas/acquisitions/ediFtp.json#/EdiFtp'
    ediSchedule:
      $ref: 'schemas/acquisitions/ediSchedule.json#/EdiSchedule'
    scheduleParameters:
      $ref: 'schemas/acquisitions/scheduleParameters.json#/ScheduleParameters'
    vendorEdiOrdersExportConfig:
      $ref: 'schemas/acquisitions/vendorEdiOrdersExportConfig.json#/VendorEdiOrdersExportConfig'

