openapi: 3.0.0
info:
  title: Fees and fines for bursar export schemas
  version: v1
servers:
  - url: https://stub.com/
paths:
  /stub:
    get:
      responses:
        '200':
          description: stub
components:
  schemas:
    ownerdatacollection:
      $ref: '../../../../folio-export-common/schemas/feesfines/ownerDataCollection.json#/OwnerDataCollection'
    userdataCollection:
      $ref: '../../../../folio-export-common/schemas/user/userCollection.json#/UserCollection'
    accountdataCollection:
      $ref: '../../../../folio-export-common/schemas/feesfines/accountdataCollection.json#/AccountdataCollection'
    feefineactionCollection:
      $ref: '../../../../folio-export-common/schemas/feesfines/feefineactionCollection.json#/FeefineactionCollection'
    transferdataCollection:
      $ref: '../../../../folio-export-common/schemas/feesfines/transferdataCollection.json#/TransferdataCollection'
    servicepoints:
      $ref: '../../../../folio-export-common/schemas/feesfines/servicepoints.json#/ServicePoints'
    bursarExportJob:
      $ref: '../../../../folio-export-common/schemas/bursar-export/bursarExportJob.json'
    ediConfig:
      $ref: '../../../../folio-export-common/schemas/acquisitions/ediConfig.json#/EdiConfig'
    ediEmail:
      $ref: '../../../../folio-export-common/schemas/acquisitions/ediEmail.json#/EdiEmail'
    ediFtp:
      $ref: '../../../../folio-export-common/schemas/acquisitions/ediFtp.json#/EdiFtp'
    ediSchedule:
      $ref: '../../../../folio-export-common/schemas/acquisitions/ediSchedule.json#/EdiSchedule'
    scheduleParameters:
      $ref: '../../../../folio-export-common/schemas/acquisitions/scheduleParameters.json#/ScheduleParameters'
    vendorEdiOrdersExportConfig:
      $ref: '../../../../folio-export-common/schemas/acquisitions/vendorEdiOrdersExportConfig.json#/VendorEdiOrdersExportConfig'
    eHoldingsExportConfig:
      $ref: '../../../../folio-export-common/schemas/eholdings/eHoldingsExportConfig.json#/EHoldingsExportConfig'
