openapi: 3.0.0
info:
  title: Circulation log export schemas
  version: v1
servers:
  - url: https://stub.com/
paths:
  /stub:
    get:
      responses:
        "200":
          description: stub
components:
  schemas:
    logRecord:
      $ref: '../../../../folio-export-common/schemas/circulationlog/logRecord.json#/LogRecord'
    logRecordCollection:
      $ref: '../../../../folio-export-common/schemas/circulationlog/logRecordCollection.json#/LogRecordCollection'
    configuration:
      $ref: '../../../../folio-export-common/schemas/configuration/configuration.json#/Configuration'
    configurationCollection:
      $ref: '../../../../folio-export-common/schemas/configuration/configurationCollection.json#/ConfigurationCollection'
    job:
      $ref: '../../../../folio-export-common/schemas/job.json#/Job'
    exportType:
      $ref: '../../../../folio-export-common/schemas/exportType.json#/ExportType'
    entityType:
      $ref: '../../../../folio-export-common/schemas/bulk-edit/entityType.json#/EntityType'
    progress:
      $ref: '../../../../folio-export-common/schemas/progress.json#/Progress'
    identifierType:
      $ref: '../../../../folio-export-common/schemas/bulk-edit/identifierType.json#/IdentifierType'
    jobStatus:
      $ref: '../../../../folio-export-common/schemas/jobStatus.json#/JobStatus'
    exportTypeSpecificParameters:
      $ref: '../../../../folio-export-common/schemas/exportTypeSpecificParameters.json#/ExportTypeSpecificParameters'
    eHoldingsPackage:
      $ref: '../../../../folio-export-common/schemas/eholdings/eHoldingsPackage.json#/EHoldingsPackage'
    eHoldingsTitle:
      $ref: '../../../../folio-export-common/schemas/eholdings/eHoldingsTitle.json#/EHoldingsTitle'
    eHoldingsRecord:
      $ref: '../../../../folio-export-common/schemas/eholdings/eHoldingsRecord.json#/EHoldingsRecord'
