openapi: 3.0.0
info:
  title: Order export API
  version: v1
servers:
  - url: https://order-stub.com/
paths:
  /order-stub:
    get:
      responses:
        "200":
          description: stub
components:
  schemas:
    UUID:
      type: string
      format: uuid
    referenceNumberItem:
      $ref: '../../../../folio-export-common/schemas/acquisitions/common/reference_number_item.json#/ReferenceNumberItem'
    compositePurchaseOrder:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders/composite_purchase_order.json#/CompositePurchaseOrder'
    claim:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/claim.json#/Claim'
    closeReason:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/close_reason.json#/CloseReason'
    contributor:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/contributor.json#/Contributor'
    cost:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/cost.json#/Cost'
    details:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/details.json#/Details'
    eresource:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/eresource.json#/Eresource'
    fundDistribution:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/fund_distribution.json#/FundDistribution'
    license:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/license.json#/License'
    location:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/location.json#/Location'
    ongoing:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/ongoing.json#/Ongoing'
    physical:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/physical.json#/Physical'
    productIdentifier:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/product_identifier.json#/ProductIdentifier'
    vendorDetail:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/vendor_detail.json#/VendorDetail'
    exportHistory:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/export_history.json#/ExportHistory'
    poLine:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/po_line.json#/PoLine'
    poLineCollection:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/po_line_collection.json#/PoLineCollection'
    purchaseOrder:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/purchase_order.json#/PurchaseOrder'
    purchaseOrderCollection:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/purchase_order_collection.json#/PurchaseOrderCollection'
    piece:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/piece.json#/Piece'
    pieceCollection:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/piece_collection.json#/PieceCollection'
    ordersTitle:
      $ref: '../../../../folio-export-common/schemas/acquisitions/mod-orders-storage/title.json#/OrdersTitle'
